{% extends 'back_g.html' %}
{% block body %}
<body>
<div class="container">
    <div class="row">
{% for i in shop %}
<div class="col-md-4">
<div class="card" style="width:250px" >
  <img class="card-img-top" src="{{i.img.url}}" alt="Card image" style="width:250px; height:50px;">
  <div class="card-body">
    <h4 class="card-title">{{i.name}}</h4>
    <p class="card-text">{{i.desc}}</p>
    <a href="/shop/{{i.id}}" class="btn btn-primary">check it NOWWW..!</a>
  </div>
</div>
</div>

{% endfor %}
</div>
    </div>
</body>
{% endblock %}



